
.menu
{
    background-color:#1d2126;
    max-width:1140px;
    height: 50px;
}
.menu h2{
    color: white;
    width: 12px;
}
.menu ul{
    margin-top: 20px;
    display: inline;
    color: white;
    padding: 5px 8px 8px 8px;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    font-weight: bold;
}
.menu li{
    margin-top: 10px;
    margin-left: 60px;
    top:20px;
    padding-left: 20px;
    display: inline;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    font-weight: normal;
}
.menu ul li a{
    margin-top:20px;
    font-size: 14px;
    color:white;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    font-weight: normal;
    text-decoration: none;
}
.menu ul li a:active{
    margin-top:20px;
    color: #23b7a4;
    border-color: #23b7a4;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    font-weight: normal;
}
.menu ul li a:hover{
    margin-top:20px;
    color: #a4aead;
    border-color: #5b6168;
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    font-weight: normal;
    border: 1px solid black;
}